
table{
    border: 1px solid black;
}
.purple{
    background-color: purple;
}
/* Para el color #FDF016 */
.square {
    width: 2rem;
    height: 2rem;
    background-color: #FDF016;
    border: 4px solid #D4BF00; /* Borde de un tono más oscuro */
    
  }
  
  /* Para el color rojo (#FF0000) */
  .t {
    width: 2rem;
    height: 2rem;
    background-color: #FF0000;
    border: 4px solid #CC0000; /* Borde de un tono más oscuro */
    
  }
  
  /* Para el color #A900FD */
  .l {
    width: 2rem;
    height: 2rem;
    background-color: #A900FD;
    border: 4px solid #8000C0; /* Borde de un tono más oscuro */
    
  }
  .I {
    width: 2rem;
    height: 2rem;
    background-color: #0F6CF2;
    border: 4px solid #0C52A4; /* Borde de un tono más oscuro */
    
  }
  
.z{
    width: 2rem;
    height: 2rem;

    background-color: #55FE01;
  border: 1px solid #4CAF50; /* Borde de un tono más oscuro */
  
}
/* Para el color #0F0F0F */
.fondo {
    width: 2rem;
    height: 2rem;
    background-color: #0F0F0F;
    
  }
  .pausado{
    filter: grayscale(80%);
  }
  #fondoTablero{
    position: relative;
  }
  @import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

  #gameOver {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ff0000;
    color: #ffffff;
    font-size: 24px;
    padding: 20px;
    border-radius: 5px;
    font-family: 'Press Start 2P', monospace; /* Aquí se define una sola vez */
    font-size: 22px;
  }
  

  